@model SneakerSportStore.Models.UserBankAccount

<h2>Thông tin tài khoản ngân hàng</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p><strong>Tên ngân hàng:</strong> @Model.BankName</p>
<p><strong>Số tài khoản:</strong> @Model.AccountNumber</p>
<p><strong>Chủ tài khoản:</strong> @Model.AccountHolder</p>
<li>@Html.ActionLink("Liên Kết Tài Khoản Ngân Hàng", "BankAccountSetup", "BankAccount", null, new { @class = "nav-link" })</li>
