@{
    ViewBag.Title = "Cài đặt tài khoản";
}
<h2>Cài đặt tài khoản</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<div style="margin:30px 0;">
    <a href="@Url.Action("EditProfile")" class="btn btn-primary" style="padding:15px 32px; margin:15px 20px;">Cập nhật thông tin cá nhân</a>
    <a href="@Url.Action("ForgotPassword")" class="btn btn-warning" style="padding:15px 32px; margin:15px 20px;">Đổi mật khẩu</a>
</div>
@if (Session["UserRole"] != null && Session["UserRole"].ToString() == "User")
{
    <li>@Html.ActionLink("Đơn hàng", "MyOrders", "UserOrder", null, new { @class = "nav-link" })</li>

}
@if (Session["UserRole"] != null && Session["UserRole"].ToString() == "Admin")
{
    <li>@Html.ActionLink("Đơn hàng", "Index", "AdminOrder", null, new { @class = "nav-link" })</li>

}